/* line 40, ../scss/x1b.scss */
html * {
  box-sizing: border-box;
}

/* line 44, ../scss/x1b.scss */
body {
  margin: 0;
  color: #c8c8c8;
  font-size: 18px;
  font-family: "Helvetica Neue", "Arial", "Tahoma", sans-serif;
  background: #dedede;
}

/* line 53, ../scss/x1b.scss */
.content {
  max-width: 770px;
  margin: 0 auto 12px;
  background: #f8f8f8;
  font-family: "Helvetica Neue", "Arial", "Tahoma", sans-serif;
  color: #444444;
  padding: 32px 0 32px 32px;
}
@media (min-width: 790px) {
  /* line 53, ../scss/x1b.scss */
  .content {
    box-shadow: 0 2px 3px 1px rgba(34, 34, 34, 0.3);
    margin: 48px auto 12px;
  }
}
/* line 67, ../scss/x1b.scss */
.content p {
  padding-right: 16px;
}

/* line 72, ../scss/x1b.scss */
a {
  color: #f57f17;
}

/* line 75, ../scss/x1b.scss */
a:visited {
  color: #f9b579;
}

/* line 79, ../scss/x1b.scss */
h1, h2, h3, h4 {
  font-family: "Oswald", "Tahoma", "Helvetica Neue", "Verdana", sans-serif;
  font-weight: normal;
}

/* line 84, ../scss/x1b.scss */
h1 {
  font-size: 72px;
  line-height: 72px;
  margin-bottom: -8px;
  margin-top: 8px;
  color: #f57f17;
}
/* line 90, ../scss/x1b.scss */
h1 a, h1 a:visited {
  color: #f57f17;
  text-decoration: none;
}
/* line 95, ../scss/x1b.scss */
h1 .sub-head {
  margin-top: 2px;
  line-height: 14px;
  font-size: 14px;
  height: 14px;
}

/* line 103, ../scss/x1b.scss */
p.intro {
  margin-top: 30px;
  color: #a0a0a0;
}

/* line 110, ../scss/x1b.scss */
h2 {
  box-shadow: inset 0 4px #f8f8f8;
  font-size: 36px;
  line-height: 36px;
  height: 34px;
  overflow: hidden;
  background-color: #444444;
  color: #f8f8f8;
  margin-top: 12px;
  margin-left: -32px;
  margin-bottom: 36px;
  padding-left: 32px;
}

/* line 128, ../scss/x1b.scss */
h2#projects {
  background: #e53935;
}

/* line 131, ../scss/x1b.scss */
h2#imprint {
  background: #646464;
}

/* line 134, ../scss/x1b.scss */
h2#x1B {
  background: #f57f17;
}

/* line 138, ../scss/x1b.scss */
p#imprint {
  color: #a0a0a0;
}

/* line 144, ../scss/x1b.scss */
ul.projects {
  padding-left: 0;
}
/* line 146, ../scss/x1b.scss */
ul.projects li {
  list-style-type: none;
}

/* line 159, ../scss/x1b.scss */
h4 {
  margin-left: -32px;
  line-height: 32px;
  font-size: 24px;
  background: #e57373;
  height: 68px;
  width: 240px;
}
/* line 168, ../scss/x1b.scss */
h4 a, h4 a:visited {
  text-decoration: none;
  padding: 0 0 0 32px;
  color: #f8f8f8;
}
/* line 174, ../scss/x1b.scss */
h4 .sub-head {
  color: #111111;
  padding: 0 0 0 32px;
  margin: 0;
  line-height: 16px;
  font-size: 14px;
  height: 32px;
}

/* line 184, ../scss/x1b.scss */
h4:after {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 34px solid #e57373;
  border-right-color: transparent;
  background-clip: border-box;
  position: relative;
  left: 240px;
  top: -64px;
  content: '';
}

/* line 199, ../scss/x1b.scss */
nav, nav ul, nav li, nav a {
  display: block;
  padding: 0;
  margin: 0;
}

/* line 205, ../scss/x1b.scss */
nav {
  position: fixed;
}
@media (max-width: 1073px) {
  /* line 205, ../scss/x1b.scss */
  nav {
    top: 0;
    right: 0;
  }
}
@media (min-width: 1074px) {
  /* line 205, ../scss/x1b.scss */
  nav {
    left: 0;
  }
}
@media (min-width: 1074px) and (min-height: 378px) {
  /* line 205, ../scss/x1b.scss */
  nav {
    top: 266px;
  }
}
@media (min-width: 1074px) and (max-height: 377px) {
  /* line 205, ../scss/x1b.scss */
  nav {
    bottom: 0;
  }
}
/* line 232, ../scss/x1b.scss */
nav li {
  list-style-type: none;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 8px;
  overflow: hidden;
  font-family: "Oswald", "Tahoma", "Helvetica Neue", "Verdana", sans-serif;
  box-shadow: 0 1px 2px 1px rgba(34, 34, 34, 0.3);
}
@media (min-width: 1074px) {
  /* line 232, ../scss/x1b.scss */
  nav li {
    height: 30px;
  }
}
@media (max-width: 1073px) {
  /* line 232, ../scss/x1b.scss */
  nav li {
    float: left;
    margin-left: 4px;
    font-size: 32px;
  }
}
@media (max-width: 1073px) {
  /* line 252, ../scss/x1b.scss */
  nav li:first-child {
    margin: 0;
  }
}
/* line 258, ../scss/x1b.scss */
nav li a, nav li a:visited {
  position: relative;
  left: 0;
  text-decoration: none;
  background: #444444;
  color: #f8f8f8;
}
/* line 265, ../scss/x1b.scss */
nav li a[href="#projects"], nav li a:visited[href="#projects"] {
  background: #e53935;
}
/* line 266, ../scss/x1b.scss */
nav li a[href="#x1B"], nav li a:visited[href="#x1B"] {
  background: #f57f17;
}
/* line 267, ../scss/x1b.scss */
nav li a[href="#imprint"], nav li a:visited[href="#imprint"] {
  background: #646464;
}
@media (min-width: 1074px) {
  /* line 258, ../scss/x1b.scss */
  nav li a, nav li a:visited {
    width: 120px;
    top: -4px;
    height: 36px;
    margin: 0 0 12px;
  }
}
@media (max-width: 1073px) {
  /* line 258, ../scss/x1b.scss */
  nav li a, nav li a:visited {
    height: 42px;
    line-height: 55px;
    width: 100px;
  }
}
