// Physical colors:
$gray0: #202020!default;
$gray1: #333333!default;
$gray2: #444444!default;
$gray3: #646464!default;
$gray4: #a0a0a0!default;
$gray5: #c8c8c8!default;
$gray6: #e0e0e0!default;
$gray7: #f9f9f9!default;

$paletteA:  #e53935!default;
$paletteA2: #e57373!default;
$paletteB: #00c853!default;
$paletteC: #5e35b1!default;
$paletteD: #f57f17!default;

$colorX1b: $paletteD!default;
$colorProjects: $paletteA;
$colorProjectsLight: $paletteA2;
$colorImprint: $gray3;
$colorLinks: $colorX1b !default;

$canvasBgColor: #dedede;
$canvasGridColor: #c0c0c0;
$textBgColor: #fcfcfc;
$textBgShadowColor: rgba( #222, 0.3 );

$headlineFontFamily: "Oswald", "Helvetica Neue", "Verdana", sans-serif;
$headlineColor: $gray7;
$textFontFamily: "Helvetica Neue", "Arial", "Tahoma", sans-serif;
$textFontSize: 18px!default;
$textColor: $gray2;

$leftGutterWidth: 32px;


html * {
   box-sizing: border-box;
}

body {
   margin: 0;
   color: $gray5;
   font-size: $textFontSize;
   font-family: $textFontFamily;

   background: linear-gradient(
                   0deg,
                   transparent 24%, $canvasGridColor 25%, $canvasGridColor 26%, transparent 27%,
                   transparent 74%, $canvasGridColor 75%, $canvasGridColor 76%, transparent 77%,
                   transparent) fixed,
               linear-gradient(
                   90deg,
                   transparent 24%, $canvasGridColor 25%, $canvasGridColor 26%, transparent 27%,
                   transparent 74%, $canvasGridColor 75%, $canvasGridColor 76%, transparent 77%,
                   transparent) 50% 0,
               $canvasBgColor;
   background-size: 48px 48px;
}

h1, h2, h3, h4 {
   font-family: $headlineFontFamily;
   font-weight: normal;
}

h1 {
   font-size: 72px;
   line-height: 72px;
   margin-bottom: -8px;
   margin-top: 8px;
   color: $colorX1b;
   a, a:visited {
      color: inherit;
      text-decoration: none;
   }

   .sub-head {
      margin-top: 2px;
      line-height: 14px;
      font-size: 14px;
      height: 14px;
   }
}

$sectionHeadHeight: 36px;

h2 {
   background-color: $textColor;
   color: $textBgColor;

   font-size: $sectionHeadHeight;
   line-height: $sectionHeadHeight;
   margin-top: $sectionHeadHeight + 12px;
   padding-left: $leftGutterWidth;
   margin-left: -$leftGutterWidth;
}

h2#projects {
   background: $colorProjects;
}
h2#imprint {
   background: $colorImprint;
}
h2#x1B {
   background: $colorX1b;
}

p#imprint {
   color: $gray4;
}

a {
   color: $colorLinks;
}
a:visited {
   color: lighten( $colorLinks, 20 );
}


.the-good-stuff {
   max-width: 770px;
   margin: 0 auto 12px;

   background: rgba( $textBgColor, 0.90 );
   font-family: $textFontFamily;
   color: $textColor;

   @media ( min-width: 790px ) {
      box-shadow: 0 15px 4px 8px $textBgShadowColor;
      margin: 48px auto 12px;
   }
   padding: $leftGutterWidth 0 32px 32px;

   p {
      padding-right: 16px;
   }
}



ul.projects {
   padding-left: 0;
   li {
      list-style-type: none;
   }
}


$projectHeaderWidth: 240px;
$projectHeaderTitleHeight: 32px;
$projectHeaderSubTitleHeight: 16px;
$projectHeaderPaddingV: 2px;
$projectHeaderHeight: $projectHeaderTitleHeight + 2*$projectHeaderSubTitleHeight + 2*$projectHeaderPaddingV;
$projectHeaderBg: $paletteA2;

h4 {
   margin-left: -$leftGutterWidth;

   line-height: 32px;
   font-size: 24px;
   background: $projectHeaderBg;
   height: $projectHeaderHeight;
   width: $projectHeaderWidth;

   a, a:visited {
      text-decoration: none;
      padding: 0 0 0 $leftGutterWidth;
      color: $textBgColor;
   }

   .sub-head {
      color: darken( $textColor, 20% );
      padding: 0 0 0 $leftGutterWidth;
      margin: 0;
      line-height: $projectHeaderSubTitleHeight;
      font-size: $projectHeaderSubTitleHeight - 2px;
      height: 2*$projectHeaderSubTitleHeight;
   }
}

h4:after {
   display: block;
   width: 0;
   height: 0;
   overflow: hidden;
   border: $projectHeaderHeight/2 solid $projectHeaderBg;
   border-right-color: transparent;
   background-clip: border-box;
   position: relative;
   left: $projectHeaderWidth;
   top: -( $projectHeaderHeight - 2*$projectHeaderPaddingV );
   content: '';
}


.navigation {
   $thresholdWidth: 1000px;
   $navHeight: 30px;

   display: block;
   position: fixed;
   padding: 0;
   margin: 0;

   @media ( max-width: $thresholdWidth - 1px ) {
      top: 0;
      right: 0;
      float: left;
   }
   @media ( min-width: $thresholdWidth ) {
      top: 4*48px + 24px;
      left: 0;
   }

   li {
      list-style-type: none;
      @media ( max-width: $thresholdWidth - 1px ) {
         float: left;
         padding-left: 12px;
      }

      a {
         display: inline-block;
         box-shadow: 0 2px 2px 1px $textBgShadowColor;
         padding: 2px;
         height: $navHeight;
         overflow-y: hidden;
         overflow-x: hidden;
         text-decoration: none;
         font-family: $headlineFontFamily;
         font-size: $navHeight -1px;
         line-height: $navHeight;

         color: $textBgColor;
         background: $textColor;

         &[href="#projects"] { background: $colorProjects; }
         &[href="#x1B"] { background: $colorX1b; }
         &[href="#imprint"] { background: $colorImprint; }

         @media ( min-width: $thresholdWidth ) {
            width: 95px;
            margin: 0 0 12px;
         }

      }

   }


}